<section class="center-box">
  <h1>Welcome to my web page!</h1>

  <img id="Narcissism" src="/images/quinnwilton.png">

  <p>
    I'm a security engineer with a passion for B-movies and an eye for design.
  </p>

  <ul>
    <li>Read my <%= link "stuff", to: Routes.blog_path(@conn, :index) %></li>
    <li>Follow me on <%= link "Github", to: "https://github.com/quinnwilton" %></li>
    <li>Contact me with <%= link "Keybase", to: "https://keybase.io/quinnwilton" %></li>
  </ul>
</section>
