<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Quinn's Homepage" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <a href="https://netscape-browser.en.softonic.com/" target="_blank">
        <img src="/images/netscape_now.gif">
      </a>
    </header>
    <%= render @view_module, @view_template, assigns %>
    <footer>
      <br/>
      <img src="/images/under_construction.gif" />
      <img src="/images/under_construction.gif" />
      <img src="/images/under_construction.gif" />
      <br/>
      <marquee>This page is under construction</marquee>
      <p>Copyright (c) 1999</p>
      <audio controls autoplay>
        <source src="/skaterboi.mp3" type="audio/mpeg" />
      </audio>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <img src="/images/dancinglemon.gif">
      oh no lemon is coming for you!
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
